
notes.aux
notes.fdb_latexmk
notes.fls
notes.log
notes.pdf
notes.synctex.gz

jif-3.5.0/lib-classes/*
jif-3.5.0/sig-classes/*
Grm
jrif_ppg.cup
Lexer_c
sym
jrif/examples/*
jrif/lib-classes/*
jrif/sig-classes/*